body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
}

.icono-superior-izquierda {
  margin: 3px;
  padding: auto;
  width: 64px; /* Ajusta el tamaño según sea necesario */
  height: 32px; /* Ajusta el tamaño según sea necesario */
}

h1 {
  font-size: 24px;
  color: #003366;
  margin-bottom: 20px;
}

textarea {
  height: 200px;
  padding: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px;
}

.info {
  font-size: 12px;
}

.buttons .btn-primary {
  background-color: #003366;
  color: #ffffff;
  border: none;
}

.buttons .btn-light {
  background-color: #e0e0e0;
  color: #333333;
  border: none;
}

p {
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
}

span {
  color: #757575;
  font-size: 14px;
}
